{% extends "layout" %}
{% block body %}

<h3>Blog Posts</h3>

{% for post in posts %}
<ul>
	{% if post.meta.external_url %}
		<li> {{ post.meta.date }} - <a href="{{ post.meta.external_url }}" >{{ post.meta.title }}</a> (external) </li>
	{% else %}
		<li> {{ post.meta.date }} - <a href="/p/{{ post.slug}}" >{{ post.meta.title }}</a> </li>
	{% endif %}
</ul>
{% endfor %}

{% endblock %}

