{% extends "layout" %}
{% block title %} {{ title }} | {{ super() }} {% endblock %}
{% block body %}


<nav>
  <a href="/"><h3>Ankush Menat</h3></a>
</nav>

{% for post in posts %}
<ul>
	<li>
	<time datetime="{{ post.meta.date }}"> {{ format_date(post.meta.date, true) }} </time>
	{% if post.meta.external_url %}
	<a href="{{ post.meta.external_url }}" >[external] {{ post.meta.title }}</a></li>
	{% else %}
	<a href="/p/{{ post.slug }}" >{{ post.meta.title }}</a></li>
	{% endif %}
</ul>
{% endfor %}

{% endblock %}

