{% extends "layout" %}
{% block body %}
<h1>{{ title }}</h1>

<h3>Blog Posts</h3>

{% for post in posts %}
<ul>
    <li><a href="/p/{{ post.slug}}" >{{ post.meta.title }}</a></li>
</ul>
{% endfor %}

{% endblock %}

