{% extends "layout" %}
{% block title %} {{ title }} | {{ super() }} {% endblock %}
{% block body %}

{% block meta %}
  <meta name="description" content="Ankush Menat's Blog">
  <meta property="og:title" content="Ankush Menat">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ BASE_URL }}">
  <meta rel="canonical" href="{{ BASE_URL }}">
{% endblock %}

<nav>
  <a href="/"><h3>Ankush Menat</h3></a>
</nav>

{% for post in posts %}
<ul>
  <li>
    <time datetime="{{ post.meta.date }}"> {{ format_date(post.meta.date, true) }} </time>
    {%- if post.meta.external_url %}
    <a target="_blank" href="{{ post.meta.external_url }}" >{{ post.meta.title }} <span style="transform: rotate(90deg); display: inline-block">⎋</span></a>
    {% else %}
    <a href="/p/{{ post.slug }}" >{{ post.meta.title }}</a>
    {%- endif %}
  </li>
</ul>
{% endfor %}

{% endblock %}

