{% extends "layout" %}
{% block title %} {{ post.meta.title }} | {{ super() }} {% endblock %}
{% block body %}
<header><h2>{{ post.meta.title }}</h2></header>
<p>Written on {{ post.meta.date }}</p>
<article>
{{ post.content }}
</article>

{% endblock %}

{% block source %}https://github.com/ankush/ankush.dev/blob/develop/content/posts/{{ post.slug }}.md{% endblock %}
