{% extends "layout" %}
{% block title %} {{ post.meta.title }} | {{ super() }} {% endblock %}

{% block meta %}
	<meta name="description" content="{{ post.meta.description }}">
	<meta property="og:description" content="{{ post.meta.description }}">
	<meta property="og:title" content="{{ post.meta.title }}">
	<meta property="og:type" content="article">
	<meta property="og:url" content="{{ BASE_URL }}/p/{{ post.slug }}">
	<meta rel="canonical" href="{{ BASE_URL }}/p/{{ post.slug }}">
{% endblock %}

{% block body %}
<header><h2>{{ post.meta.title }}</h2></header>
<time datetime={{ post.meta.date }} >{{ format_date(post.meta.date, false) }}</time>
{%- if post.meta.discussions -%}
{% for site, link in post.meta.discussions|items %}
    · <a target="_blank" href="{{ link }}">{{ site }}</a>
{% endfor %}
{%- endif -%}

<article>
{{ post.content }}
</article>

{# load optional stuff in the end #}
<script>{% include "pageview" %}</script>

{% endblock %}

{% block source %}https://github.com/ankush/ankush.dev/blob/develop/content/posts/{{ post.slug }}.md{% endblock %}
