{% extends "layout" %}
{% block title %} {{ post.meta.title }} | {{ super() }} {% endblock %}

{% block meta %}
	<meta property="og:title" content="{{ post.meta.title }}">
	<meta property="og:type" content="article">
	<meta property="og:description" content="{{ post.meta.description }}">
{% endblock %}

{% block body %}
<header><h2>{{ post.meta.title }}</h2></header>
<time datetime={{ post.meta.date }} >{{ formatted_date }}</time>

<article>
{{ post.content }}
</article>

{# load optional stuff in the end #}
{% include 'hljs' %}

{% endblock %}

{% block source %}https://github.com/ankush/ankush.dev/blob/develop/content/posts/{{ post.slug }}.md{% endblock %}
