{% extends "layout" %}
{% block title %} {{ post.meta.title }} | {{ super() }} {% endblock %}
{% block body %}
<header><h1>{{ post.meta.title }}</h1></header>
<p>Written on {{ post.meta.date }}</p>
<article>
{{ post.content }}
</article>
{% endblock %}
